@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1d7cbf;
  --primary-hover: #136dad;
  --heading-color: #282828;
  --primary-text: #353535f3;

  --secondary-color: #edf2f5;
  --dark-color: #282828;
  --primary-white: #ffffff;

  --primary-font: "Open Sans", sans-serif;

  --body-background: #f7f7f7;

  --smooth-shadow: 0px 0px 10px 4px #00000015;

  --secondary-text: #111111b4;
}

body {
  background-color: var(--body-background);
}

.lists {
  list-style-type: none;
}

.heading {
  font-family: var(--primary-font);
}

.paragraph {
  font-family: var(--primary-font);
}

.btn {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: var(--primary-white);
  
}
.btn-secondary{
background-color: transparent;
color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn:hover {
  color: var(--primary-white);
  background-color: var(--primary-hover);
}

.btn-dark {
  background-color: var(--dark-color);
}


.container{
  width: 100%;
}

.wrapper{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
  
}

.icons{
  font-size: 1.5rem;
}